{% extends "base.html" %}
{% block title%}
<title>Odkazy</title>
{% endblock %}

{% block content %}
<div class="container">
<div class="card mb-3">
  <img src="{{ url_for('static', filename='img/pozadia/white-robot-circle-Big-Hero-6-2014-hand-581093-wallhere.com.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <div align="center">
    <h2 class="card-title">Micro-Pc odkazy na najnovšie vychytávky</h2>
    <p class="card-text"><small class="text-muted">Posledná aktualizácia 11.02.2020</small></p>
  </div>
</div>
</div>
</div>

<div class="container">
<div class="card">
<CENTER>
<TABLE WIDTH="50%" ALIGN="abscenter" BORDER="4" CELLSPACING="3" CELLPADDING="10">
<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.arduino.cc/" alt="arduino">www.arduino.cc</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/arduino.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://arduino-shop.cz/" alt="arduino-shop">shop</a></TD>
</TR>

<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="http://www.banana-pi.org/" alt="banana-pi">www.banana-pi.org</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/bpi.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://rpishop.cz/502-banana-pi" alt="banana-pi">shop</a></TD>
</TR>

<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.khadas.com/" alt="khadas">www.khadas.com</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/khadas.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://rpishop.cz/khadas/2183-khadas-vim3l-htpc-kit.html" alt="arduino">shop</a></TD>
</TR>

<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://microbit.org/" alt="microbit">www.microbito.org</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/microbit.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.hwkitchen.cz/bbc-microbit/" alt="microbit">shop</a></TD>
</TR>

<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.raspberrypi.org/" alt="raspberrypi">www.raspberrypi.org</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/raspberry.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.alza.sk/raspberry-pi/18859158.htm?kampan=adw1_pc-sestavy_sea_gen_pocitace_mini-pc-typy_c_9062580_e_1t1_339512112881_~69393827438~&gclid=CjwKCAiAvonyBRB7EiwAadauqSlXqt_q-yJ2SzuAgLVm3Qs8UrbMuxVIRUwDW1pPB8iYWvKQlq7D5BoCqlkQAvD_BwE" alt="arduino">shop</a></TD>
</TR>

<TR>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.lattepanda.com/" alt="lattepanda">www.lattepanda.com</a></TD>
<TD NOWRAP VALIGN="center" ALIGN="center"><img src="{{ url_for('static', filename='img/polozky/lattepanda.png') }}" width="300px" height="24px"></TD>
<TD class="card border-primary" NOWRAP VALIGN="center" ALIGN="center"><a href="https://www.neven.cz/kategorie/elektronicke-soucastky/elektronicky-vyvoj/vyvojove-desky/lattepanda/lattepanda-4g-64g-intel-z8350-windows-10-vyvojova-deska/" alt="lattepanda">shop</a></TD>
</TR>
</TABLE>
</CENTER>
</div>
</div>
        {% endblock %}