{% extends "base.html" %}
{% block header %}
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">LOGIN</a></h1>
        </div>
{{ super() }}
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
<div class="card mb-3">
  <img src="{{ url_for('static', filename='img/pozadia/—Pngtree—robot teaching creative cartoon scenery_1054966.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <div align="center">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>
</div>
<div id="banner" class="container">
    <div align="center">
        <div class="sticky">
    <form method="POST">
        <div class="form-group">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>{{ form.user.label }}:</td><td>{{ form.user }}</td></tr>
            <tr><td>{{ form.password.label }}: </td><td>{{ form.password }}</td></tr>
            <tr><td>{{ form.submit.label }}</td><td> {{ form.submit }}</td></tr>
        </table>
    </div>
    </form>
</div>
</div>
</div>
    <div class="content">
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
        {% endfor %}
    {% endfor %}
    <hr>
    </div>
{% endblock %}